<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32-CAM Video Stream</title>
    {% comment %} <style>
        #videoStream {
            width: 640px;
            height: 480px;
            background-color: #333;
        }
    </style> {% endcomment %}
</head>
<body>

    <h1>Видео с ESP32-CAM</h1>
    <div> <img id="videoStream" alt="Video Stream"> </div>
    <script>
        const videoStream = document.getElementById("videoStream");  // Элемент <img> для отображения видео
        const ws = new WebSocket(`ws://${window.location.host}/ws/browser/`);  // Подключаемся к серверу

        ws.binaryType = "arraybuffer";  // Тип данных - бинарный

        ws.onmessage = function(event) {
            if (event.data instanceof ArrayBuffer) {
                // Создание объекта Blob для отображения изображения
                const blob = new Blob([event.data], { type: 'image/jpeg' });
                const url = URL.createObjectURL(blob);
                videoStream.src = url;

                // Освобождаем память после загрузки кадра
                videoStream.onload = function() {
                    URL.revokeObjectURL(url);
                };
            }
        };

        ws.onopen = function() {
            console.log("WebSocket connection opened");
        };

        ws.onerror = function(error) {
            console.error("WebSocket error: ", error);
            alert("Ошибка соединения с сервером. Проверьте подключение.");
        };

        ws.onclose = function() {
            console.log("WebSocket connection closed");
        };
    </script>

    <div><button onclick="toggleRelay('ON')">Включить реле</button>
    <button onclick="toggleRelay('OFF')">Выключить реле</button></div>
    <script>
        function toggleRelay(command) {
            fetch('/relay-control/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({ command }),
            });
        }
    </script>
</body>
</html>